<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %c{1.} %-5level [%t:%L] - %msg%n" />
		</Console>
		<RollingFile name="LogFile" fileName="${log-path}/out.log"
			filePattern="${log-path}/out-%d{yyyy-MM-dd}-%i.log" immediateFlush="false"
			append="true">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %c{1.} %-5level [%t:%L] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="LogFile" />
		</Root>
	</Loggers>
</Configuration>